# 对象引用、可变性和垃圾回收
## 1、变量是对象上的便利贴

In [1]:
a = [1, 2, 3]
b = a
a.append(4)
b

[1, 2, 3, 4]

In [2]:
class Gizmo:
    
    def __init__(self):
        print('Gizmo id: %d' % id(self))
        
        
x = Gizmo()

Gizmo id: 139917891976592

In [3]:
y = Gizmo() * 10

Gizmo id: 139917891928608

TypeError: unsupported operand type(s) for *: 'Gizmo' and 'int'

In [5]:
dir()

['Gizmo',
 'In',
 'Out',
 '_',
 '_1',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'a',
 'b',
 'exit',
 'get_ipython',
 'quit',
 'x']

In [6]:
charles = {'name': 'Charles L. Dodgson', 'born': 1832}
lewis = charles
lewis is charles

True

In [7]:
id(charles), id(lewis)

(139917891967616, 139917891967616)

In [8]:
lewis['balance'] = 950
charles

{'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}

In [9]:
alex = {'name': 'Charles L. Dodgson', 'born': 1832, 'balance': 950}
alex == charles

True

In [10]:
alex is not charles

True

In [11]:
t1 = (1, 2, [30, 40])
t2 = (1, 2, [30, 40])
t1 == t2

True

In [12]:
id(t1[-1])

139917891200064

In [13]:
t1[-1].append(99)
t1

(1, 2, [30, 40, 99])

In [14]:
id(t1[-1])

139917891200064

In [15]:
t1 == t2

False

# 浅复制，只复制了最外层容器，副本中的元素是源容器中元素的引用

In [16]:
l1 = [3, [55, 44], (7, 8, 9)]
l2 = list(l1)
l2

[3, [55, 44], (7, 8, 9)]

In [17]:
l2 == l1

True

In [18]:
l2 is l1

False

In [19]:
l2[0] is l1[0], l2[1] is l1[1], l2[2] is l2[2]

(True, True, True)

In [20]:
l1 = [3, [66, 55, 44], (7, 8, 9)]
l2 = list(l1)
l1.append(100)
l1[1].remove(55)
print('l1:', l1)

l1: [3, [66, 44], (7, 8, 9), 100]

In [21]:
print('l2:', l2)

l2: [3, [66, 44], (7, 8, 9)]

In [22]:
l2[1] += [33, 22]
l2[2] += (10, 11)

In [23]:
print('l1:', l1)

l1: [3, [66, 44, 33, 22], (7, 8, 9), 100]

In [24]:
print('l2:', l2)

l2: [3, [66, 44, 33, 22], (7, 8, 9, 10, 11)]

In [25]:
class Bus:
    
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)
            
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)

In [26]:
import copy

bus1 = Bus(['Alice', 'Bill', 'Claire', 'David'])
bus2 = copy.copy(bus1)
bus3 = copy.deepcopy(bus1)

id(bus1), id(bus2), id(bus3)

(139917890822208, 139917890822400, 139917890822640)

In [27]:
bus1.drop('Bill')

In [28]:
bus2.passengers

['Alice', 'Claire', 'David']

In [29]:
id(bus1.passengers), id(bus2.passengers), id(bus3.passengers)

(139917891199360, 139917891199360, 139917891993920)

In [30]:
bus3.passengers

['Alice', 'Bill', 'Claire', 'David']

In [31]:
a = [10, 20]
b = [a, 30]
a.append(b)
a

[10, 20, [[...], 30]]

In [32]:
from copy import deepcopy

c = deepcopy(a)
c

[10, 20, [[...], 30]]

In [33]:
def f(a, b):    # 共享传参，形参是实参的别名
    a += b
    return a

In [34]:
x = 1
y = 2
f(x, y)

3

In [35]:
x, y

(1, 2)

In [36]:
a = [1, 2]
b = [3, 4]
f(a, b)

[1, 2, 3, 4]

In [37]:
a, b

([1, 2, 3, 4], [3, 4])

In [38]:
t = (10, 20)
u = (30, 40)
f(t, u)

(10, 20, 30, 40)

In [39]:
t, u

((10, 20), (30, 40))

In [40]:
class HauntedBus:
    
    def __init__(self, passengers=[]):
        self.passengers = passengers
        
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)

In [41]:
bus1 = HauntedBus(['Alice', 'Bill'])
bus1.passengers

['Alice', 'Bill']

In [42]:
bus1.pick('Charlie')
bus1.drop('Alice')
bus1.passengers

['Bill', 'Charlie']

In [43]:
bus2 = HauntedBus()
bus2.pick('Carrie')
bus2.passengers

['Carrie']

In [44]:
bus3 = HauntedBus()
bus3.passengers

['Carrie']

In [45]:
bus3.pick('Dave')
bus2.passengers

['Carrie', 'Dave']

In [46]:
bus2.passengers is bus3.passengers

True

In [47]:
bus1.passengers

['Bill', 'Charlie']

In [48]:
dir(HauntedBus.__init__)

['__annotations__',
 '__call__',
 '__class__',
 '__closure__',
 '__code__',
 '__defaults__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__get__',
 '__getattribute__',
 '__globals__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__kwdefaults__',
 '__le__',
 '__lt__',
 '__module__',
 '__name__',
 '__ne__',
 '__new__',
 '__qualname__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__']

In [49]:
HauntedBus.__init__.__defaults__

(['Carrie', 'Dave'],)

In [51]:
HauntedBus.__init__.__defaults__[0] is bus2.passengers

True

In [52]:
class TwilightBus:
    
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = passengers
            
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)

In [53]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Maya', 'Diana']

In [58]:
TwilightBus.__init__.__code__.co_varnames

('self', 'passengers')

In [54]:
TwilightBus.__init__.__defaults__

(None,)

In [55]:
from copy import copy


class TwilightBus:
    
    def __init__(self, passengers=None):
        if passengers is None:
            self.passengers = []
        else:
            self.passengers = list(passengers)    # copy(passengers)也可以
            
    def pick(self, name):
        self.passengers.append(name)
        
    def drop(self, name):
        self.passengers.remove(name)

In [56]:
basketball_team = ['Sue', 'Tina', 'Maya', 'Diana', 'Pat']
bus = TwilightBus(basketball_team)
bus.drop('Tina')
bus.drop('Pat')
basketball_team

['Sue', 'Tina', 'Maya', 'Diana', 'Pat']

In [64]:
import weakref

s1 = {1, 2, 3}
s2 = s1


def bye():
    print('Gone with the wind...')
    
    
ender = weakref.finalize(s1, bye)
ender.alive

True

In [65]:
del s1

In [66]:
ender.alive

True

In [67]:
s2 = 'spam'

Gone with the wind...

In [68]:
ender.alive

False

In [143]:
import weakref

a_set = {0, 1}
wref = weakref.ref(a_set)
wref

In [144]:
wref()

{0, 1}

In [145]:
a_set = {2, 3, 4}
wref()

{0, 1}

In [146]:
wref() is None

False

In [147]:
wref() is None    # 该实例要在控制台中才显示True

False

In [148]:
class Cheese:
    
    def __init__(self, kind):
        self.kind = kind
        
    def __repr__(self):
        return 'Cheese(%r)' % self.kind

In [149]:
import weakref

stock = weakref.WeakValueDictionary()
catalog = [Cheese('Red Leicester'), Cheese('Tilsit'), Cheese('Brie'), Cheese('Parmesan')]

for cheese in catalog:
    stock[cheese.kind] = cheese
    
sorted(stock.keys())

['Brie', 'Parmesan', 'Red Leicester', 'Tilsit']

In [150]:
del catalog

In [151]:
sorted(stock.keys())

['Parmesan']

In [152]:
del cheese
sorted(stock.keys())

[]

In [153]:
class MyList(list):
    """subclass of list"""
    
    
a_list = MyList(range(10))

wref_to_a_list = weakref.ref(a_list)

In [154]:
t1 = (1, 2, 3)
t2 = tuple(t1)

In [155]:
t2 is t1

True

In [156]:
t3 = t1[:]

In [157]:
t3 is t1

True

In [158]:
t1 = (1, 2, 3)
t3 = (1, 2, 3)
t3 is t1

False

In [159]:
s1 = 'ABC'
s2 = 'ABC'
s2 is s1

True